.style-button {
  font-size: 1rem;
  color: var(--first-color);
  background-color: var(--third-color);
  padding: 8px 24px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.new-style-button {
  font-size: 1rem;
  color: var(--first-color);
  background-color: var(--fifth-color);
  padding: 8px 24px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
