input {
  font-size: 0.8rem;
  color: var(--third-color);
  width: 100%;
  padding: 10px 8px;
  border: 1px solid var(--fourth-color);
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--third-color);
}
