.main-screen-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: var(--second-color);
}

.main-screen-page-header-main {
  width: 50%;
}

@media (max-width: 480px) {
  .main-screen-page-header-main {
    width: 70%;
  }

}

@media (min-width: 481px) {
  .main-screen-page-header-main {
    width: 70%;
  }

}

@media (min-width: 768px) {
  .main-screen-page-header-main {
    width: 60%;
  }

}

@media (min-width: 1440px) {
  .main-screen-page-header-main {
    width: 50%;
  }

}
