.main-screen-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: var(--second-color);
}

.main-screen-page-header-main {
  width: 50%;
}
