.card {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: auto;
  padding: 104px 24px 24px 24px;
  border: 1px solid var(--third-color);
  border-radius: 16px;
}

.card-title-edit-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -1px;
  left: -1px;
  color: var(--first-color);
  background-color: var(--fifth-color);
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 1px solid var(--fifth-color);
}

.card-title-edit-delete h1 {
  font-size: 1.3rem;
  padding: 24px;
  margin: 0;
  cursor: default;
  width: 60%;
  white-space: nowrap;
  overflow-x: auto;
}

.card-title-edit-delete h1::-webkit-scrollbar {
  height: 6px;
}

.card-title-edit-delete h1::-webkit-scrollbar-track {
  background-color: var(--third-color);
  border-radius: 8px;
  cursor: default;
}

.card-title-edit-delete h1::-webkit-scrollbar-thumb {
  background-color: var(--fourth-color);
  border-radius: 8px;
  cursor: default;
}

.card-title-edit-delete h1::-webkit-scrollbar-thumb:hover {
  background-color: var(--ninth-color);
}

.card-user-date-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  font-size: 1.1rem;
  width: 100%;
}

.card-user-date-content-span-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--fourth-color);
}

.card-user-date-content-span-span-username {
  font-weight: bold;
}

.card-user-date-content-text {
  color: var(--sixth-color);
  text-align: justify;
  line-height: 1.5;
  white-space: pre-line;
  box-sizing: border-box;
  height: 246px;
  width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: auto;
}

.card-user-date-content-text::-webkit-scrollbar {
  width: 6px;
}

.card-user-date-content-text::-webkit-scrollbar-track {
  background-color: var(--third-color);
  border-radius: 8px;
  cursor: default;
}

.card-user-date-content-text::-webkit-scrollbar-thumb {
  background-color: var(--fourth-color);
  border-radius: 8px;
  cursor: default;
}

.card-user-date-content-text::-webkit-scrollbar-thumb:hover {
  background-color: var(--ninth-color);
}

@media (max-width: 480px) {
  .card-title-edit-delete h1 {
    font-size: 0.9rem;
    padding: 16px;
  }

  .card-user-date-content {
    font-size: 0.9rem;
  }

  .card-user-date-content-text {
    padding-right: 6px;
  }

}

@media (min-width: 481px) {
  .card-title-edit-delete h1 {
    font-size: 0.9rem;
    padding: 16px;
  }

  .card-user-date-content {
    font-size: 0.9rem;
  }

  .card-user-date-content-text {
    padding-right: 6px;
  }

}

@media (min-width: 768px) {
  .card-title-edit-delete h1 {
    font-size: 1rem;
    width: 65%;
    padding: 18px;  
  }

  .card-user-date-content {
    font-size: 1rem;
  }

}

@media (min-width: 1024px) {
  .card-title-edit-delete h1 {
    font-size: 1.1rem;
    padding: 20px;
  }

  .card-user-date-content {
    font-size: 1.1rem;
  }

}

@media (min-width: 1280px) {
  .card-title-edit-delete h1 {
    font-size: 1.2rem;
    padding: 22px;
  }

}

@media (min-width: 1440px) {
  .card-title-edit-delete h1 {
    font-size: 1.3rem;
    padding: 24px;
  }

}
