.card {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: auto;
  padding: 116px 24px 24px 24px;
  border: 2px solid var(--third-color);
  border-radius: 16px;
}

.card-title-edit-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -2px;
  left: -2px;
  color: var(--first-color);
  background-color: var(--fifth-color);
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 2px solid var(--fifth-color);
}

.card-title-edit-delete h1 {
  padding: 24px;
  margin: 0;
  cursor: default;
}

.card-title-edit-delete-icons {
  display: flex;
  gap: 16px;
  padding: 24px;
}

.card-title-edit-delete-icons-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.card-user-date-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.card-user-date-content-span-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--fourth-color);
}

.card-user-date-content-span-span-username {
  font-weight: bold;
}

.card-user-date-content-p {
  color: var(--sixth-color);
  text-align: justify;
  line-height: 1.5;
  white-space: pre-line;
}
