textarea {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--third-color);
  line-height: 1.5;
  width: auto;
  padding: 8px;
  border: 1px solid var(--fourth-color);
  border-radius: 8px;
  outline: none;
}

textarea::placeholder {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--third-color);
}
