.header-content {
  color: var(--first-color);
  background-color: var(--fifth-color);
  padding: 27px 37px;
  cursor: default;
}

.header-content h1 {
  font-size: 1.3rem;
  margin: 0;
}

@media (max-width: 480px) {
  .header-content h1 {
    font-size: 0.9rem;
  }

}

@media (min-width: 481px) {
  .header-content h1 {
    font-size: 0.9rem;
  }

}

@media (min-width: 768px) {
  .header-content h1 {
    font-size: 1rem;
  }

}

@media (min-width: 1024px) {
  .header-content h1 {
    font-size: 1.1rem;
  }

}

@media (min-width: 1280px) {
  .header-content h1 {
    font-size: 1.2rem;
  }

}

@media (min-width: 1440px) {
  .header-content h1 {
    font-size: 1.3rem;
  }

}
