:root {
  --first-color: white;
  --second-color: rgb(221, 221, 221);
  --third-color: rgb(204, 204, 204);
  --fourth-color: rgb(119, 119, 119);
  --fifth-color: rgb(118, 149, 236);
  --sixth-color: black;
  --seventh-color: rgb(71, 185, 96)
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
